<?php

$baseUrl = 'http://localhost/webapp/';
$authSleep = 3;

$templatesPath = __DIR__ . '/../templates';
$templatesPathExt = __DIR__ . '/../../../webapp/src/templates';
$templatesCachePath = __DIR__ . '/../templates/cache';
$templatesCacheMode = 0777;

$mysqlHost = 'localhost';
$mysqlUser = 'user';
$mysqlPassword = 'password';
$mysqlDatabase = 'webapp';

$smtpHost = 'smtp.example.com';
$smtpUser = 'user';
$smtpSecret = 'secret';
$smtpPort = 587;

$mailerSystemEmail = 'system@example.com';
$mailerSystemFrom = 'System Mailer';
$mailerNoreplyEmail = 'no-reply@example.com';
$mailerNoreplyName = 'Do Not Reply';

$mailerSendMails = true;
$mailerSaveMails = true;
$mailerSaveMailsPath = __DIR__ . '/../../mails';
$mailerSaveMailsMode = 0777;
    
$logFile = __DIR__ . '/../../logs/app.log';
